<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.koreaap.mouInfo.persistence.IndexMapper">
     
    <select id="findYtm" parameterType="hashmap" resultType="java.util.LinkedHashMap">
		  SELECT GMRI_TYPE                =B72ECLASSNAME1
			,GMRI_SUBTYPE           		=B72ECLASSNAME2
			,GMRI_BOND              		=B72ECLASSNAME3
			,GMRI_INT                       =ISNULL((SELECT RTRIM(B14ETYPENAME) FROM BPODB.DBO.BP14BONDTYPE WHERE B14TYPE=B71BONDTYPE),'-')
			,M003                           =CASE WHEN ISNULL(B71M3,0) = 0 THEN '-' ELSE STR(ISNULL(B71M3,0), 6, 3) END
			,M006                           =CASE WHEN ISNULL(B71M6,0) = 0 THEN '-' ELSE STR(ISNULL(B71M6,0), 6, 3) END
			,M009                           =CASE WHEN ISNULL(B71M9,0) = 0 THEN '-' ELSE STR(ISNULL(B71M9,0), 6, 3) END
			,M012                           =CASE WHEN ISNULL(B71M12,0) = 0 THEN '-' ELSE STR(ISNULL(B71M12,0), 6, 3) END
			,M018                           =CASE WHEN ISNULL(B71M18,0) = 0 THEN '-' ELSE STR(ISNULL(B71M18,0), 6, 3) END
			,M024                           =CASE WHEN ISNULL(B71M24,0) = 0 THEN '-' ELSE STR(ISNULL(B71M24,0), 6, 3) END
			,M030                           =CASE WHEN ISNULL(B71M30,0) = 0 THEN '-' ELSE STR(ISNULL(B71M30,0), 6, 3) END
			,M036                           =CASE WHEN ISNULL(B71M36,0) = 0 THEN '-' ELSE STR(ISNULL(B71M36,0), 6, 3) END
			,M048                           =CASE WHEN ISNULL(B71M48,0) = 0 THEN '-' ELSE STR(ISNULL(B71M48,0), 6, 3) END
			,M060                           =CASE WHEN ISNULL(B71M60,0) = 0 THEN '-' ELSE STR(ISNULL(B71M60,0), 6, 3) END
			,M084                           =CASE WHEN ISNULL(B71M84,0) = 0 THEN '-' ELSE STR(ISNULL(B71M84,0), 6, 3) END
			,M120                           =CASE WHEN ISNULL(B71M120,0) = 0 THEN '-' ELSE STR(ISNULL(B71M120,0), 6, 3) END
			,M240                           =CASE WHEN ISNULL(B71M240,0) = 0 THEN '-' ELSE STR(ISNULL(B71M240,0), 6, 3) END
			,M360                           =CASE WHEN ISNULL(B71M360,0) = 0 THEN '-' ELSE STR(ISNULL(B71M360,0), 6, 3) END
			,M600                           =CASE WHEN ISNULL(B71M600,0) = 0 THEN '-' ELSE STR(ISNULL(B71M600,0), 6, 3) END
			,P_TYPE                 		=B71BONDTYPE
			,GMRI_CODE                      =B71CLASSID
			,GMRI_SEQ       				=B72SEQ
			,CLASSID       				    =B71CLASSID
			,FULLNAME = B72ECLASSNAME1 + B72ECLASSNAME2 + B72ECLASSNAME3
		  FROM BPODB.DBO.BP71MATRIX
	      INNER JOIN BPODB.DBO.BP72MATRIXCODE     
	      ON B71CLASSID=B72CLASSID
	      AND B71BONDTYPE=B72BONDTYPE AND B72YTM='Y'
	      WHERE B71DATE = #{stdDate} AND B71TYPE = 'Y'
	      AND B71CLASSID NOT IN ('C100', 'C200', 'C700')
    </select>
    
    <select id="findSpot" parameterType="hashmap" resultType="java.util.LinkedHashMap">
		  SELECT GMRI_TYPE                =B72ECLASSNAME1
			,GMRI_SUBTYPE           		=B72ECLASSNAME2
			,GMRI_BOND              		=B72ECLASSNAME3
			,GMRI_INT                       =ISNULL((SELECT RTRIM(B14ETYPENAME) FROM BPODB.DBO.BP14BONDTYPE WHERE B14TYPE=B71BONDTYPE),'-')
			,M003                           =CASE WHEN ISNULL(B71M3,0) = 0 THEN '-' ELSE STR(ISNULL(B71M3,0), 6, 3) END
			,M006                           =CASE WHEN ISNULL(B71M6,0) = 0 THEN '-' ELSE STR(ISNULL(B71M6,0), 6, 3) END
			,M009                           =CASE WHEN ISNULL(B71M9,0) = 0 THEN '-' ELSE STR(ISNULL(B71M9,0), 6, 3) END
			,M012                           =CASE WHEN ISNULL(B71M12,0) = 0 THEN '-' ELSE STR(ISNULL(B71M12,0), 6, 3) END
			,M018                           =CASE WHEN ISNULL(B71M18,0) = 0 THEN '-' ELSE STR(ISNULL(B71M18,0), 6, 3) END
			,M024                           =CASE WHEN ISNULL(B71M24,0) = 0 THEN '-' ELSE STR(ISNULL(B71M24,0), 6, 3) END
			,M030                           =CASE WHEN ISNULL(B71M30,0) = 0 THEN '-' ELSE STR(ISNULL(B71M30,0), 6, 3) END
			,M036                           =CASE WHEN ISNULL(B71M36,0) = 0 THEN '-' ELSE STR(ISNULL(B71M36,0), 6, 3) END
			,M048                           =CASE WHEN ISNULL(B71M48,0) = 0 THEN '-' ELSE STR(ISNULL(B71M48,0), 6, 3) END
			,M060                           =CASE WHEN ISNULL(B71M60,0) = 0 THEN '-' ELSE STR(ISNULL(B71M60,0), 6, 3) END
			,M084                           =CASE WHEN ISNULL(B71M84,0) = 0 THEN '-' ELSE STR(ISNULL(B71M84,0), 6, 3) END
			,M120                           =CASE WHEN ISNULL(B71M120,0) = 0 THEN '-' ELSE STR(ISNULL(B71M120,0), 6, 3) END
			,M240                           =CASE WHEN ISNULL(B71M240,0) = 0 THEN '-' ELSE STR(ISNULL(B71M240,0), 6, 3) END
			,M360                           =CASE WHEN ISNULL(B71M360,0) = 0 THEN '-' ELSE STR(ISNULL(B71M360,0), 6, 3) END
			,M600                           =CASE WHEN ISNULL(B71M600,0) = 0 THEN '-' ELSE STR(ISNULL(B71M600,0), 6, 3) END
			,P_TYPE                 		=B71BONDTYPE
			,GMRI_CODE                      =B71CLASSID
			,GMRI_SEQ       				=B72SEQ
			,CLASSID       				    =B71CLASSID
			,FULLNAME = B72ECLASSNAME1 + B72ECLASSNAME2 + B72ECLASSNAME3
		  FROM BPODB.DBO.BP71MATRIX
	      INNER JOIN BPODB.DBO.BP72MATRIXCODE     
	      ON B71CLASSID=B72CLASSID
	      AND B72SPOT='Y'
	      WHERE B71DATE = #{stdDate} AND B71TYPE = 'S'
	      AND B71CLASSID NOT IN ('C100', 'C200', 'C700')
    </select>
    
    <select id="findCdCp" parameterType="hashmap" resultType="java.util.LinkedHashMap">
	    SELECT DATACODE, STD_DATE, CLASS, D1, D7, D15, M1, M2, M3, M6, Y1, Y2
		FROM (
			SELECT	STD_DATE = CONVERT(VARCHAR, STD_DATE, 23) 
					, DATACODE
					, CLASS
		      , CASE DATACODE 
		        WHEN 'CD' THEN (SELECT SORT_SEQ FROM TC_MRCODEVALUE WHERE COL_ID = 'CREDIT_CLASS' AND CODE_ID = CLASS)
		        WHEN 'CD' THEN (CASE CLASS WHEN 'A1' THEN 1 
		                         WHEN 'A2+' THEN 2 
		                         WHEN 'A2' THEN 3 
		                         WHEN 'A2-' THEN 4 
		                         WHEN 'A3+' THEN 5 
		                         WHEN 'A3' THEN 6 
		                         WHEN 'A3-' THEN 7 
		                         END )
		        END SEQ
					, D1			= SUM(CASE WHEN MATTERM='D1' THEN RATE ELSE 0 END)
					, D7			= SUM(CASE WHEN MATTERM='D7' THEN RATE ELSE 0 END)
					, D15			= SUM(CASE WHEN MATTERM='D15' THEN RATE ELSE 0 END)
					, M1			= SUM(CASE WHEN MATTERM='M1' THEN RATE ELSE 0 END)
					, M2			= SUM(CASE WHEN MATTERM='M2' THEN RATE ELSE 0 END)
					, M3			= SUM(CASE WHEN MATTERM='M3' THEN RATE ELSE 0 END)
					, M6			= SUM(CASE WHEN MATTERM='M6' THEN RATE ELSE 0 END)
					, Y1			= SUM(CASE WHEN MATTERM='M12' THEN RATE ELSE 0 END)
					, Y2			= SUM(CASE WHEN MATTERM='M24' THEN RATE ELSE 0 END)
			FROM	BPODB.DBO.CDCPMATRIX
			WHERE	STD_DATE = #{stdDate}
					AND DATACODE IN ('CD', 'CP')
			GROUP BY STD_DATE, DATACODE, CLASS
		) A
		WHERE CLASS != 'B+'
		AND CLASS != 'BBB'
		ORDER BY STD_DATE DESC, DATACODE, SEQ
    </select>
    
    <select id="findYieldCurve" parameterType="hashmap" resultType="java.util.LinkedHashMap">
    	EXEC BPODB.dbo.USP_WBP_FB_BM_USD #{stdDate}, 'PAR'
    </select>
    
    <select id="findYieldCurveUsd" parameterType="hashmap" resultType="java.util.LinkedHashMap">
    	EXEC BPODB.dbo.USP_WBP_FB_YIELD_USD #{stdDate}, 'PAR'
    </select>
    
    <select id="findSwapRate" parameterType="hashmap" resultType="java.util.LinkedHashMap">
    	SELECT 
		P
		,STR(ROUND(MAX(CASE WHEN YC_NAME = 'CRS3L' THEN V ELSE 0 END),5), 6, 4) AS 'CRS3L' 
		,STR(ROUND(MAX(CASE WHEN YC_NAME = 'CRS3L' THEN V_BID ELSE 0 END),5), 6, 4) AS 'CRS3L_BID' 
		,STR(ROUND(MAX(CASE WHEN YC_NAME = 'CRS3L' THEN V_ASK ELSE 0 END),5), 6, 4) AS 'CRS3L_ASK' 
		,STR(ROUND(MAX(CASE WHEN YC_NAME = 'KRW01' THEN V ELSE 0 END),5), 6, 4) AS 'KRW01' 
		,STR(ROUND(MAX(CASE WHEN YC_NAME = 'KRW01' THEN V_BID ELSE 0 END),5), 6, 4) AS 'KRW01_BID' 
		,STR(ROUND(MAX(CASE WHEN YC_NAME = 'KRW01' THEN V_ASK ELSE 0 END),5), 6, 4) AS 'KRW01_ASK' 
		,STR(ROUND(MAX(CASE WHEN YC_NAME = 'USD3L' THEN V ELSE 0 END),5), 6, 4) AS 'USD3L' 
		,STR(ROUND(MAX(CASE WHEN YC_NAME = 'USD3L' THEN V_BID ELSE 0 END),5), 6, 4) AS 'USD3L_BID' 
		,STR(ROUND(MAX(CASE WHEN YC_NAME = 'USD3L' THEN V_ASK ELSE 0 END),5), 6, 4) AS 'USD3L_ASK' 
		
		FROM
		(
		  SELECT 
		  YC_NAME
		  ,CASE WHEN P = '1DAY' THEN D1_MID
		        WHEN P = '3MONTH' THEN M3_MID
		        WHEN P = '6MONTH' THEN M6_MID
		        WHEN P = '9MONTH' THEN M9_MID
		        WHEN P = '1YEAR' THEN Y1_MID
		        WHEN P = '2YEAR' THEN Y2_MID
		        WHEN P = '3YEAR' THEN Y3_MID
		        WHEN P = '4YEAR' THEN Y4_MID
		        WHEN P = '5YEAR' THEN Y5_MID
		        WHEN P = '7YEAR' THEN Y7_MID
		        WHEN P = '10YEAR' THEN Y10_MID
		        END AS V
		  ,CASE WHEN P = '1DAY' THEN CASE LEN(D1_BID) WHEN 0 THEN 0 ELSE null END
		        WHEN P = '3MONTH' THEN CASE LEN(M3_BID) WHEN 0 THEN 0 ELSE null END
		        WHEN P = '6MONTH' THEN CASE LEN(M6_BID) WHEN 0 THEN 0 ELSE null END
		        WHEN P = '9MONTH' THEN CASE LEN(M9_BID) WHEN 0 THEN 0 ELSE null END
		        WHEN P = '1YEAR' THEN Y1_BID
		        WHEN P = '2YEAR' THEN Y2_BID
		        WHEN P = '3YEAR' THEN Y3_BID
		        WHEN P = '4YEAR' THEN Y4_BID
		        WHEN P = '5YEAR' THEN Y5_BID
		        WHEN P = '7YEAR' THEN Y7_BID
		        WHEN P = '10YEAR' THEN Y10_BID
		        END AS V_BID
		  ,CASE WHEN P = '1DAY' THEN CASE LEN(D1_ASK) WHEN 0 THEN 0 ELSE null END
		        WHEN P = '3MONTH' THEN CASE LEN(M3_ASK) WHEN 0 THEN 0 ELSE null END
		        WHEN P = '6MONTH' THEN CASE LEN(M6_ASK) WHEN 0 THEN 0 ELSE null END
		        WHEN P = '9MONTH' THEN CASE LEN(M9_ASK) WHEN 0 THEN 0 ELSE null END
		        WHEN P = '1YEAR' THEN Y1_ASK
		        WHEN P = '2YEAR' THEN Y2_ASK
		        WHEN P = '3YEAR' THEN Y3_ASK
		        WHEN P = '4YEAR' THEN Y4_ASK
		        WHEN P = '5YEAR' THEN Y5_ASK
		        WHEN P = '7YEAR' THEN Y7_ASK
		        WHEN P = '10YEAR' THEN Y10_ASK
		        END AS V_ASK
		  ,P
		  ,N
		  FROM
		  (
		    SELECT   YC_NAME, D1_MID, D1_BID, D1_ASK, M3_MID, M3_BID, M3_ASK, M6_MID, M6_BID, M6_ASK, M9_MID, M9_BID, M9_ASK, Y1_MID, Y1_BID, Y1_ASK, Y2_MID, Y2_BID, Y2_ASK, Y3_MID, Y3_BID, Y3_ASK, Y4_MID, Y4_BID, Y4_ASK, Y5_MID, Y5_BID, Y5_ASK, Y7_MID, Y7_BID, Y7_ASK, Y10_MID, Y10_BID, Y10_ASK
		    FROM     BPODB.DBO.V_SWAP_RATE A
		             INNER JOIN BPODB.DBO.SWAPYCINFO B
		                    ON  YCCODE = YC_NAME
		    WHERE    USEYN_BPO = 'Y'
		             AND TRADEDAY = #{stdDate}
		  ) A
		  ,(SELECT '1DAY' AS P
		    ,1 AS N
		     UNION ALL
		    SELECT '3MONTH' AS P
		    ,2 AS N
		     UNION ALL
		    SELECT '6MONTH' AS P
		    ,3 AS N
		     UNION ALL
		    SELECT '9MONTH' AS P
		    ,4 AS N
		     UNION ALL
		    SELECT '1YEAR' AS P
		    ,5 AS N
		     UNION ALL
		    SELECT '2YEAR' AS P
		    ,6 AS N
		     UNION ALL
		    SELECT '3YEAR' AS P
		    ,7 AS N
		     UNION ALL
		    SELECT '4YEAR' AS P
		    ,8 AS N
		     UNION ALL
		    SELECT '5YEAR' AS P
		    ,9 AS N
		     UNION ALL
		    SELECT '7YEAR' AS P
		    ,10 AS N
		     UNION ALL
		    SELECT '10YEAR' AS P
		    ,11 AS N
		  ) B
		) T
		GROUP BY P, N
		ORDER BY N
    </select>
    
    <select id="findStdDate" resultType="hashmap">
    	SELECT STD_DATE=CONVERT(VARCHAR, BPODB.DBO.FNPREVWORKDAY(CONVERT(VARCHAR, GETDATE(), 112)), 112)  /* 이전 영업일 */
    	,CONVERT(VARCHAR, GETDATE()-30, 112) AS FROM_DATE
    </select>
    
</mapper>